<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MedRecover</title>
        <link rel="stylesheet" href="/styles">
        <link rel="stylesheet" href="/styles-font">
    </head>
    <body onload='CheckSession("medico")'> 
        <nav class="sidebar">
            <ul class="nav-list">
                <li id="alert">
                    <a href="/medico"><span>Utentes</span></a>
                </li>
                <li class="active" id="home">
                    <a href="/medico/dados" aria-current="page"><span>Estatisticas</span></a>
                </li>
                <li id="alert">
                    <a href="/medico/documentos"><span>Documentos</span></a>
                </li>
                </li>
            </ul>
        </nav>
        <div class="contentvideo">
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
        </div>
    </body>
    <script src="/script/session"></script>
</html>